/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo del encabezado */
header {
    background: #444;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilo de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Secciones */
section {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #444;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background: #222;
    color: #fff;
    margin-top: 20px;
    font-size: 0.9rem;
}
#testimonios {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.testimonio {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-left: 5px solid #0078d7; /* Color destacado */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

blockquote {
    font-style: italic;
    margin: 0;
    color: #333333;
}

.testimonio p {
    margin-top: 10px;
    font-weight: bold;
    color: #555555;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
  }
  
  .btn-2 {
    background: #004cff00;
    background: linear-gradient(0deg, #00000000 0%, #000000 100%);
    border: none;
  }
  
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  
  .btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  